/*== Main reset ==*/
:root {
  --color-primary: #C70039;
  --color-second: #020F84;
  --color-black: #000;
  --color-white: #fff;
  --color-background: #00042B;
  --font: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

/*== The header ==*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgb(253, 252, 252);
}

.navbar__menu {
  display: flex;
  gap: 4rem;
  padding: 0 8rem;
}

.navbar__menu li {
  list-style: none;
}

.navbar__menu a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--color-black);
  font-family: var(--font);
}

.navbar__menu a:hover {
  text-decoration: underline;
}

#check, .toggle__menu {
  display: none;
}

/*== The hero ==*/

.hero {
  background: rgb(10,121,238);
  background: linear-gradient(132deg, rgba(10,121,238,1) 1%, rgba(36,0,180,1) 58%);
  color: var(--color-white);
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 9rem;
  margin-top: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__container h1 {
  width: 70%;
  font-size: 4rem;
  font-family: var(--font);
  padding-bottom: 2rem;
}

.hero__container p {
  width: 60%;
  padding-bottom: 2rem;
}

.hero__redes {
  margin-bottom: 10px;
}

.hero__redes a{
  color: var(--color-black);
  font-size: 15px;
  padding: 10px;
  border-radius: 50%;
  background-color: #00042B;
  color: #e6e6e6;
}

.hero__redes a:hover{
  background-color: #ffffff;
  color: #000;
}

.hero__cv {
  padding: .5rem .9rem;
  border-radius: .8rem;
  background-color: var(--color-background);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  cursor: pointer;
  width: 20%;
}

.hero__cv:hover {
  background-color: var(--color-white);
  color: var(--color-background);
}

.hero__info a {
  text-decoration: none;
}

.hero__picture img {
  width: 28rem;
  border-radius: 50%;
  border: 6px solid var(--color-background);
}

/*== The habilidad ==*/

.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 3rem 9rem;
}

.habilidades h2 {
  font-family: var(--font);
  font-size: 3rem;
}

.habilidad__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
}

.habilidad__info {
  background-color: #00042B;
  margin: 2rem;
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  text-align: center;
  padding: 2rem;
}

.habilidad__info p {
  color: var(--color-white);
  font-size: 1.2rem;
  padding-top: 2rem;
  
}

.habilidad__info img {
  width: 6rem;
}

/*== Sobre ==*/
  .sobre__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .sobre__info {
    display: flex;
    padding: 3rem 9rem;
  }

  .sobre__text h2 {
    font-family: var(--font);
    padding: 10px 20px;
    font-size: 3rem;
  }

  .sobre__text p {
    padding: 0 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .sobre__text a {
    text-decoration: none;
    margin: 0 20px;
  }
  .sobre__text a:hover {
    background-color: #000d9a;
    color: #fff;
  }

  .sobre__info img {
    width: 400px;
  }

/*== The portafolio ==*/

.portafolio {
  background-color: #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 9rem;
}

.portafolio h2 {
  font-family: var(--font);
  font-size: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.portafolio__container {
  max-width: 1200px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.portafolio__info {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.portafolio__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 28%;
  flex-wrap: wrap;
  padding: 10px;
}

.portafolio__text img {
  width: 350px;
  border-radius: 10px;
}

.portafolio__desc {
  font-size: 1.6rem;
}

.portafolio__lang span {
  background-color: var(--color-background);
  color: #fff;
  border-radius: 7px;
  padding: 1px 6px;
}

.portafolio__link a {
  text-decoration: none;
  color: #000;
}

.portafolio__link a:hover {
  text-decoration: underline;
}

/*== The contacto ==*/

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  background-color: #f4f4f4;
  margin: 2rem auto;
  border-radius: 2rem;
  padding: 0 2rem;
}

.formulario h2 {
  font-family: var(--font);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.campo {
  width: 95%;
  padding: 1rem .8rem;
  border-radius: 2rem;
  border: none;
  margin: .9rem 0;
}

.formulario__container textarea {
  width: 95%;
  height: 100px;
  padding: .8rem;
  resize: none;
  border: none;
  border-radius: 1rem;
}


.btn {
  width: 95%;
  padding: .8rem;
  background-color: var(--color-background);
  color: var(--color-white);
  border-radius: 2rem;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 1.8;
}

/*== The footer ==*/

.footer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--color-background);
  color: var(--color-white);
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 850px) {
  /*== MENU RESPONSIVE ==*/
  #check {
    display: none;
  }
  .toggle__menu {
    display: block;
    font-size: 34px;
    position: fixed;
    top: 10px;
    right: 30px;
  }
  .navbar__menu {
    display: block;
    position: fixed;
    background-color: #00042B;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 60px;
    left: -100%;
  }
  .navbar__menu li {
    padding: 30px 10px;
  }
  .navbar__menu li a {
    color: #fff;
  }

  #check:checked ~ ul {
    display: block;
    left: 0;
  }
  /*== THE HEAD =0*/
  .header {
    padding: .3rem 0;
  }
  /*== THE HERO ==*/
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__container h1 {
    width: 90%;
    font-size: 4rem;
    padding-bottom: 2rem;
  }
  .hero__container p {
    width: 70%;
  }
  .hero__picture img {
    width: 28rem;
    margin: 0 auto;
  }
  /*== SOBRE ==*/
  .sobre__info {
    display: flex;
    flex-wrap: wrap;
  }
  .sobre__text p {
    padding: 0 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  /*== PORTAFOLIO ==*/
  .portafolio__info {
    display: flex;
    flex-wrap: wrap;
  }
  .portafolio__text {
    width: 48%;
    flex-wrap: wrap;
    padding: 10px;
  }
  .portafolio__text img {
    width: 950px;
  }
  /*== PORTAFOLIO ==*/
  .formulario {
    width: 30rem;
    height: 41rem;
    margin: 2rem auto;
    padding: 0 2rem;
  }
  .formulario h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 680px) {
  /*== THE HEAD =0*/
  .header {
    padding: .3rem 0;
  }
  .portafolio__text {
    width: 80%;
    flex-wrap: wrap;
    padding: 10px;
  }
  

  @media screen and (max-width: 554px) {
  /*== THE HEAD ==*/
  .header {
    padding: .3rem 0;
  }
  /*== THE HERO ==*/
  .hero__container h1 {
    width: 100%;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .hero__container p {
    width: 99%;
    line-height: 25px;
  }
  .hero__picture {
    padding-top: 4rem;
  }
  .habilidades h2 {
    font-size: 2.5rem;
  }
  .portafolio__text {
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
  }
}}

@media screen and (max-width: 434px) {
  .hero__container h1 {
    width: 100%;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .habilidades h2 {
    font-size: 2rem;
  }
  .sobre__text h2 {
    font-size: 2rem;
  }
  .portafolio__text {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
  }
  .portafolio__text img {
    width: 950px;
  }
}